# Proyecto de analisis de ventas en una tienda de ropa
Recopilación y limpieza de datos: Se reunirían los datos de ventas históricas, incluyendo información sobre fechas, productos, precios, etc. Estos datos se limpiarían para eliminar cualquier información faltante o incorrecta.

Análisis exploratorio de datos: Se analizarían los datos recolectados para identificar patrones y tendencias en las ventas. Se podrían crear gráficos y tablas para visualizar esta información.

Selección de características: Se seleccionarían las características relevantes para el modelo de machine learning, como la fecha, el precio del producto, la promoción, etc.

Entrenamiento del modelo: Se utilizaría un algoritmo de aprendizaje automático para entrenar el modelo con los datos de ventas históricos y las características seleccionadas.

Evaluación del modelo: Se evaluaría el rendimiento del modelo utilizando técnicas como la validación cruzada y la prueba de conjunto de prueba para medir la precisión de las predicciones.

Implementación y monitoreo: Finalmente, se implementaría el modelo en un entorno de producción y se monitorearía su rendimiento continuamente para detectar y corregir cualquier problema.

## Carga de Datos

In [4]:
import pandas as pd

# Cargar el archivo csv en un DataFrame
data = pd.read_csv('Datos/VentasTiendaA.csv')

# Imprimir las primeras filas del DataFrame
data.head()

,fecha_venta,hora_venta,Producto,Valor_sugerido,venta_final,venta_inventario,valor_compra,contribucion,Comprador,fecha_ingreso_inventario,NOMBRE,sexo_producto,color_prenda,talla_prenda,proveedor,OBSERVACIONES
0,2022-05-31,1330.0,Gaban Negro Totas,89000.0,82000,NaN,NaN,NaN,Mujer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-31,1330.0,Blusa rosa Tulcan,66000.0,58000,NaN,NaN,NaN,Mujer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-01,1600.0,Blusa tejida caracol,59000.0,50000,NaN,NaN,NaN,Mujer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-02,1000.0,Gaban Murcielago,72000.0,60000,NaN,NaN,NaN,Mujer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-06,1400.0,Chaqueta Totas,93000.0,72500,NaN,NaN,NaN,Hombre,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Consultas

¿Cuantas filas tiene dataset?

In [5]:
num_rows = data.shape[0]
print(num_rows)

396

¿Cuantos atributos tiene el dataset?

In [6]:
num_columns = data.shape[1]
print(num_columns)

16

¿Cuales son los nombres de los 16 atributos?

In [7]:
col_names = data.columns.tolist()
print(col_names)

['fecha_venta', 'hora_venta', 'Producto', 'Valor_sugerido', 'venta_final', 'venta_inventario', 'valor_compra', 'contribucion', 'Comprador', 'fecha_ingreso_inventario', 'NOMBRE', 'sexo_producto', 'color_prenda', 'talla_prenda', 'proveedor', 'OBSERVACIONES']